name: CI

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: Node LTS
              uses: actions/setup-node@v3
              with:
                  node-version: lts/*
                  cache: 'npm'
            - run: npm ci
            - run: npm run build
            - run: npm run ci:prettier
            - run: npm run test:ut
            - run: npm run test:it
